:root {
    --first-color: #923a2c;
    /*--first-color: #DC3545; asli: 9D4BFF 23004D*/
    --first-color-dark: #333;
    --first-color-light: #a49eac;
    --first-color-lighten: #f2f2f2;

    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 0.938rem;
        --small-font-size: 0.875rem;
    }
}

* {
    font-family: var(--body-font);
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===== NOTIFICATION ===== */
.notification {
    display: block;
    padding: 0.5rem;
    margin: 2rem 0;
    font-weight: 400;
    text-align: center;
    border-radius: 0.5rem;
    width: 100%;
}

.alert-error {
    background-color: #f8d7db;
    color: #842029;
}

.alert-info {
    background-color: #cfe2ff;
    color: #084298;
    text-align: left;
    padding: 1rem;
}

.alert-secondary {
    margin-top: -0.5rem;
    background: #e2e3e5;
    color: #41464b;
    border-radius: 0.5rem;
}

/* ===== INPUT HINT ===== */
.input-hint {
    display: block;
    margin-top: 1rem;
}

/* ===== TAG LINE ===== */

.tagline {
    height: 0;
    border-top: 1px solid #d9dde5;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}

.tagline span {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0 15px;
    background: #f2f2f2;
    color: #9d9fa3;
    top: -10px;
}

/* ===== MEDIA QUERIES ===== */

@media (max-width: 600px) {
    .regis__registre {
        padding: 3rem 1.5rem;
        width: 80vw;
    }
    select {
        width: 65%;
    }
    #domisili {
        width: 160%;
    }
    .upload__box {
        width: 110%;
    }
}

/* ===== PRELOADER ===== */

#preloader .s1 {
    width: 60px;
    height: 60px;
    display: table-cell;
    padding: 0px;
    vertical-align: middle;
    margin: 0 auto;
    background: #111111;
    text-align: center;
}
#preloader .s1 span {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #ffffff;
    -webkit-animation: preloader8 1.6s linear infinite;
    animation: preloader8 1.6s linear infinite;
    margin: -30px 0 0 -30px;
}
#preloader .s1 span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}
@keyframes preloader8 {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
@-webkit-keyframes preloader8 {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}

/* preloader */

/* ================================================== */
#preloader {
    display: table;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none !important;
    text-align: center;
}
.preloader1 {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.65);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    -webkit-animation: preloader1 1s ease-in infinite;
    animation: preloader1 1s ease-in infinite;
    position: absolute;
    margin-left: -30px;
    top: 45%;
}
@keyframes preloader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes preloader1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}
